{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% block "content" %}
<section class="py-5 container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h1 class="card-title text-center">LOGINNN</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary" value="Enviar">
            </form>
        </div>
        <a href="{% url 'cadastro' %}">Não tem conta? Cadastre-se aqui!!!</a>
        <a href="{% url 'password_reset' %}">Esqueceu sua senha? Clique AQUI!!!</a>
    </div>
</section>
{% endblock %}